.header {
  padding: 30px 0 50px;
  @include media-mobile {
    padding-bottom: 23px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  img {
    width: 38px;
  }
}