* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  &:active, &:hover {
    outline: 0;
  };
}