.navigation {
  display: flex;
}

.navigation__link {
  list-style: none;
  padding-left: 37px;
  font-size: 1.6rem;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.header__navigation {
  @include media-tablet {
    display: none;
  }
}